* {
    margin: 0;
    padding: 0;
}

/* latin-ext */
@font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/abrilfatface/v19/zOL64pLDlL1D99S8g8PtiKchq-lmjdLh.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/abrilfatface/v19/zOL64pLDlL1D99S8g8PtiKchq-dmjQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 48px;
    padding: 5px 0;
    display: grid;
    grid: 1fr / 35% 30% 35%;
    z-index: 10;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.right-nav {
    justify-self: right;
}

i.fa-solid {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:white;
}

a.logo {
    position: relative;
    font-family: "Abril Fatface", sans-serif;
    font-size: 40px;
    top: -20px;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbar i:hover {
    background: #ddd;
    color: black;
}

/*big image*/

.hook {
    max-width: 100%;
    height: 100vh;
    width: auto\9; /* ie8 */
}

.image-title {
    position: absolute;
    bottom: 55%;
    left: 2%;
    color: White;
    font-family: Postoni,garamond,serif;
    line-height: 1.1;
    font-size: 3.5rem;
    width: 40%;
}

.name {
    position: absolute;
    font-family: Franklin,arial,sans-serif;
    font-size: 1rem;
    bottom: 50%;
    left: 2%;
    color: White;
}

/*Main Body*/

main {
    --type-token: consumptionEditorial.body-core;
    text-transform: none;
    font-family: BreveText, helvetica, sans-serif;
    font-feature-settings: normal;
    font-style: normal;
    letter-spacing: 0.00568421em;
    line-break: auto;
    line-height: 1.47368em;
    font-size: 19px;
    font-weight: 400;
    overflow-wrap: normal;
    color: rgb(26, 26, 26);
    display: grid;
    grid: 1fr / 10% 50% 30%;
}

p {
    padding: 10px;
}

footer {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #333;
    color: White;
    display: grid;
    grid: 1fr / 82% 8% 10%;
}

.left-foot {
    display: grid;
    grid: 5vh 1vh / 1fr;
}

a.foot-title {
    font-weight: bold;
    color: white;
    float: left;
    clear: left;
}

a.foot-link {
    color: white;
    float: left;
    clear: left;
}

.mid-foot {
    margin: 0px;
    font-family: ProximaNova, helvetica, sans-serif;
    line-height: 1.31em;
    font-size: 13px;
    font-weight: 400;
}

.right-foot {
    margin: 0px;
    font-family: ProximaNova, helvetica, sans-serif;
    line-height: 1.31em;
    font-size: 13px;
    font-weight: 400;
    
}

a.logo-foot {
    position: relative;
    color: white;
    font-family: "Abril Fatface", sans-serif;
    font-size: 40px;
    top: -20px;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }